.limit-text-to-2-lines {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.button-primary {
    background-color: rgb(255, 208, 0);
    border: none;
}

